<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAM Tomar</title>
    <link rel="stylesheet" href="@Url.Content("~/vendors/base/vendor.bundle.base.css")">
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style-override.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/fontawesome/all.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/selectize.css")" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="horizontal-menu">
        <nav class="navbar top-navbar col-lg-12 col-12 p-0">
            <div class="container-fluid">
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
                    <ul class="navbar-nav navbar-nav-left">
                    </ul>
                    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                        <a class="navbar-brand brand-logo" href="@Url.Action("Index", "Home")">
                            <h2>RAM Tomar</h2>
                        </a>

                        @*<a class="navbar-brand brand-logo" href="@Url.Action("Index", "Home")"><img src="fotos/twitter_header_photo_2.png" alt="logo" /></a>
                            <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index", "Home")"><img src="fotos/twitter_header_photo_2.png" alt="logo" /></a>*@

                    </div>
                    <ul class="navbar-nav navbar-nav-right">

                        <li class="nav-item nav-profile d-lg-flex d-none" style="margin-left:10px">
                            <a class="nav-link" href="@Url.Action("Index", "Manage")">
                                <span class="nav-profile-name">@HttpContext.Current.User.Identity.Name</span>
                                @*<span class="online-status"></span>
                                    <i class="fas fa-user"></i>*@
                            </a>
                        </li>

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <li class="nav-item dropdown d-lg-flex d-none">
                                <a class="menu-title" href="javascript:document.getElementById('logoutForm').submit()">
                                    <span class="btn btn-inverse-primary btn-sm"><i class="fas fa-sign-out-alt"></i> Logout</span>
                                </a>
                            </li>
                        }

                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                        <span class="fa fa-bars"></span>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="bottom-navbar">
            <div class="container">
                <ul class="nav page-navigation">

                    <li class="nav-item" id="botaoPontos">
                        <a href="@Url.Action("Index", "PontosInteresse")" class="nav-link">
                            <i class="fas fa-map-marker-alt" style="margin-bottom:10px"></i>
                            <span class="menu-title">Pontos de Interesse</span>
                        </a>
                        <div class="submenu">
                            <ul>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "PontosInteresse")">Ver lista de pontos de interesse</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Create", "PontosInteresse")">Adicionar novo ponto de interesse</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item" id="botaoImagens">
                        <a href="@Url.Action("Index", "Imagens")" class="nav-link">
                            <i class="far fa-images" style="margin-bottom:10px"></i>
                            <span class="menu-title">Imagens</span>
                        </a>
                        <div class="submenu">
                            <ul>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Imagens")">Ver lista de imagens</a></li>
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Create", "Imagens")">Adicionar nova imagem</a></li>
                            </ul>
                        </div>
                    </li>


                    <li class="nav-item" id="botaoUsers">
                        <a href="@Url.Action("Index", "Account")" class="nav-link" style="padding:17px 32px 17px 32px">
                            <i class="fas fa-users" style="margin-bottom:10px"></i>
                            @if (User.IsInRole("administrador"))
                            {
                                <span class="menu-title">Utilizadores</span>
                            }
                            else
                            {
                                <span class="menu-title">Conta</span>
                            }
                        </a>
                        <div class="submenu">
                            <ul>
                                @if (User.IsInRole("administrador"))
                                {
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Account")">Ver lista de utilizadores</a></li>
                                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Register", "Account")">Adicionar novo utilizador</a></li>
                                }
                                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Manage")">Gerir a minha conta</a></li>
                            </ul>
                        </div>
                    </li>

                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
    </div>

    <div class="container body-content">


        @RenderBody()


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Projeto de Sistemas de Informação - Grupo C</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fa")
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/bundles/selectize")

    @RenderSection("scripts", required: false)
</body>
</html>
