@model BackOfficeRAM.ViewModels.CreateEditImagemViewModel

@{
    ViewBag.Title = "Nova imagem";
}
<script>
    $(document).ready(function () {
        $('#select-ponto').selectize({
            create: false,
            sortField: 'text'
        });
    });
</script>



@using (Html.BeginForm("Create", "Imagens", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h4> Nova Imagem</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        @* Passar a carregamento de imagem e no controller adicionar método para passar a imagem para base64 *@
        <div class="form-group">
            @Html.Label("Carregar Imagem", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <input type="file" class="form-control" name="foto" id="foto" accept=".jpg" @*multiple*@ />
                @*@Html.ValidationMessageFor(model => model.Conteudo, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Autor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                @Html.Label("Associar imagem ao seguinte ponto de interesse")
                @Html.DropDownListFor(m => m.PontoEscolhido, Model.PontosInteresse, new { @class = "form-control text-box single-line", id = "select-ponto", style = "padding-right: 22px;padding-left: 22px;padding-top: 13px;padding-bottom:13px;border:1px solid #02b1f7;" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
