@model BackOfficeRAM.Models.Imagem

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalhes da imagem</h2>

<div>
    <hr />
    <div class="row">

        <div class="col-md-7">
            <div>
                <img class="img-thumbnail" src="@Model.ConteudoImagem" alt="Alternate Text" style="width:100%;" />
            </div>
        </div>
        <div class="col-md-5">
            <div>
                <b>Nome: </b> @Model.Nome
                <br />
            </div>
            <div>
                <b>Autor: </b> @Model.Autor
                <br />
            </div>
            <div>

                <b>Ponto de Interesse: </b> <a href="@Url.Action("Details","PontosInteresse", new { id = Model.PontoInteresse.Id})">
                    @Model.PontoInteresse.Nome
                </a>
                <br />
            </div>
            <div>
                <br />
                <div class="row">
                    <p>
                        <div class="col">
                            <a class="btn btn-warning" href="@Url.Action("Edit", new { id = Model.Id})">Editar</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = Model.Id})">Eliminar</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-primary" href="@Url.Action("Index")">Lista de Imagens</a>
                        </div>


                        @*@Html.ActionLink("Editar", "Edit", new { id = Model.Id, @class = "btn btn-warning" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id, @class = "btn btn-danger" }) |
                            @Html.ActionLink("Regressar à lista", "Index")*@
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
