@model BackOfficeRAM.ViewModels.CreateEditImagemViewModel

@{
    ViewBag.Title = "Editar";
}

<script>
    $(document).ready(function () {
        $('#select-ponto').selectize({
            create: false,
            sortField: 'text'
        });
    });
</script>

<br />
<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdImagem)


        <img src="@Model.Conteudo" alt="@Model.Nome" style="height:350px" />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Autor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger", required = "required" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Associar imagem ao seguinte ponto de interesse")
                @Html.DropDownListFor(m => m.PontoEscolhido, Model.PontosInteresse, new { @class = "form-control", id = "select-ponto", style = "padding-right: 22px;padding-left: 22px;padding-top: 13px;padding-bottom:13px;border:1px solid #02b1f7;" })
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-1">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a class="btn btn-outline-primary" href="@Url.Action("Index")">Voltar</a>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regressar à lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
