@model BackOfficeRAM.Models.PontoInteresse

@{
    ViewBag.Title = "Delete";
}

<br />

<h2>Deseja eliminar o seguinte ponto de interesse?</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.Nome)
    </h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
