@model BackOfficeRAM.Models.PontoInteresse

@{
    ViewBag.Title = "Details";
}

<br />
<h2>@Html.DisplayFor(model => model.Nome)</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        @foreach (var item in Model.Imagens)
        {
            <dd>
                <img src="@Html.DisplayFor(modelItem => item.ConteudoImagem)" alt="Alternate Text" style="height:400px" />
            </dd>
            <br />
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
