@model BackOfficeRAM.Models.PontoInteresse

@{
    ViewBag.Title = "Details";
}



<br />
<h2>@Html.DisplayFor(model => model.Nome)</h2>

<div>
    <h4></h4>
    <hr />
    <div class="container">
        <div class="row">

            <div id="map" class="col-md-3 img-thumbnail" style="height:300px;width:100%"></div>

            <br />
            <div class="col-md">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="h3 col-sm">
                            Autor:
                        </div>
                        <div class="col-sm">
                            @Html.DisplayFor(model => model.Autor)
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="h3 col-sm">
                            Localização:
                        </div>
                        <div class="col-sm">
                            @Html.DisplayFor(model => model.Localizacao)
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="h3 col-sm">
                            Tipo de Edifício:
                        </div>
                        <div class="col-sm">
                            @Html.DisplayFor(model => model.TipoEdificio)
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="h3 col-sm">
                            Ano de construção:
                        </div>
                        <div class="col-sm">
                            @Html.DisplayFor(model => model.Ano)
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">

                    <div class="col-md-3">
                        <div class="h3 col-sm">
                            Coordenadas do Ícone:
                        </div>
                        <div class="col-sm" style="font-style:italic">
                            @Html.DisplayFor(model => model.CoordenadaIcon.Latitude)
                            ,
                            @Html.DisplayFor(model => model.CoordenadaIcon.Longitude)
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="h3 col-sm">
                            Coordenadas do Polígono:
                        </div>

                        @foreach (var item in Model.CoordenadasPoligono)
                        {<div class="col-sm" style="font-style:italic">
                                @item.Latitude
                                @String.Format(" , ")
                                @item.Longitude
                            </div>
                        }

                    </div>

                </div>
                <br /><br />
                <div class="col-sm" style="text-align: justify;">
                    @Html.DisplayFor(model => model.Descricao)
                </div>
            </div>
            <br />
            <br />




            <div class="row">
                @foreach (var item in Model.Imagens)
                {
                    <div class="col-sm" style="text-align: center;">
                        <div>
                            <img class="img-thumbnail" src="@Html.DisplayFor(modelItem => item.ConteudoImagem)" alt="Autor: @Html.DisplayFor(modelItem => item.Autor) " style=" margin:10px;margin-left:0px;cursor:pointer" onclick="javascript:window.location='@Url.Action("Details","Imagens", new{id = item.Id})'" />
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
<br />
<br />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>


@section scripts
    {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaNOF8NDOvIgeHEO5Glt6yz9AellnNS2E&callback=initMap" async defer></script>

    <script>
        var map;

        function initMap() {
            var myCenter = new google.maps.LatLng(parseFloat("@Model.CoordenadaIcon.Latitude"), parseFloat("@Model.CoordenadaIcon.Longitude"));
            var mapProp = {
                center: myCenter,
                zoom: 17,
                scrollwheel: false,
                draggable: true,
                mapTypeId: google.maps.MapTypeId.SATELLITE,
                zoomControl: false,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: false };
            map = new google.maps.Map(document.getElementById('map'),
                mapProp
            );
            var marker = new google.maps.Marker({ position: myCenter });
            marker.setMap(map);
        }
    </script>
}