@model IEnumerable<BackOfficeRAM.Models.PontoInteresse>
@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        $('#botaoPontos').addClass('active');
    });
</script>
<br />

<div id="map" class="img-thumbnail" style="height:300px;width:100%"></div>
<br />
<div class="row">
    <div class="col">
        <p>
            <a class="btn btn-primary" href="@Url.Action("Create","PontosInteresse")">Criar novo Ponto de Interesse</a>
        </p>
    </div>
    <div class="col" style="display:flex;flex-direction:row-reverse;">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col">
                    @Html.TextBox("SearchString", "", new { @class = "form-control", style = "padding:9px", placeholder = "Pesquisar..." })
                </div>
                <div>
                    <input type="submit" value="🔍" class="btn btn-primary" />
                    <a class="btn btn-primary" href="@Url.Action("Index")">Limpar</a>
                </div>
            </div>
        }
    </div>
</div>
<br />
<table class="table table-hover" style="background-color:#fff">
    <tr>
        <th style="width:25%">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th style="width:50%">
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th style="width:25%"></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="cursor:pointer" onclick="javascript:window.location='@Url.Action("Details","PontosInteresse", new{id = item.Id})'">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td style="max-width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>


@section scripts
    {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaNOF8NDOvIgeHEO5Glt6yz9AellnNS2E&callback=initMap" async defer></script>

    <script>
        var map;

        function initMap() {
            var myCenter = new google.maps.LatLng(parseFloat("39.603803"), parseFloat("-8.406601"));
            var mapProp = {
                center: myCenter,
                zoom: 15,
                scrollwheel: true,
                draggable: true,
                mapTypeId: google.maps.MapTypeId.SATELLITE,
                zoomControl: false,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                rotateControl: false,
                fullscreenControl: true
            };
            map = new google.maps.Map(document.getElementById('map'),
                mapProp
            );

             @foreach (var item in Model)
             {
                 <text>
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(parseFloat("@item.CoordenadaIcon.Latitude"), parseFloat("@item.CoordenadaIcon.Longitude")),
                        title: "@Html.Raw(item.Nome)"
                    });

                    marker.addListener('click', function () {
                        window.location.href = "PontosInteresse/Details/@item.Id"
                    });

                     var coords = [];
                    @foreach (var coordenada in item.CoordenadasPoligono)
                    {
                        @:coords.push({ lat: parseFloat("@coordenada.Latitude.Replace(",",".")"), lng: parseFloat("@coordenada.Longitude.Replace(",",".")") });
                    }

                    var poligono = new google.maps.Polygon({
                        paths: coords,
                        strokeColor: '#FF0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#FF0000',
                        fillOpacity: 0.35
                    });

                    poligono.addListener('click', function () {
                        window.location.href = "PontosInteresse/Details/@item.Id"
                    });

                    poligono.setMap(map);
                    marker.setMap(map);
                </text>
             }




        }
    </script>
}