@model IEnumerable<BackOfficeRAM.Models.PontoInteresse>
@{
    ViewBag.Title = "Index";
}
<br />

<br />
@*<div class="row">
        <div class="col">
            <p>
                <a class="btn btn-primary" href="@Url.Action("Create","PontosInteresse")">Criar novo Ponto de Interesse</a>
            </p>
        </div>
        <div class="col" style="display:flex;flex-direction:row-reverse;">
            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col">
                        @Html.TextBox("SearchString", "", new { @class = "form-control", style = "padding:9px", placeholder = "Pesquisar..." })
                    </div>
                    <div style="margin-right: 15px;">
                        <input type="submit" value="🔍" class="btn btn-primary" />
                        <a class="btn btn-primary" href="@Url.Action("Index")">Limpar</a>
                    </div>
                </div>
            }
        </div>
    </div>*@

<h2>Pontos pendentes de aprovação</h2>
<br />
@if (Model.Count() > 0)
{


    <table class="table table-hover" style="background-color:#fff">
        <tr>
            <th style="width:25%">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th style="width:50%">
                Criador
            </th>
            <th style="width:25%"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="cursor:pointer" onclick="javascript:window.location='@Url.Action("Details","PontosInteresse", new{id = item.Id})'">
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td style="max-width:100px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
                    @Html.DisplayFor(modelItem => item.CriadorPonto)
                </td>
                <td>
                    @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }) |*@
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) @*|
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </table>
}
else
{
    @:<h4>Não existem pontos.</h4>
}

